body {
  background: #eee;
}
.container {
  padding: 1rem;
  margin: 1rem;
  display: flex;
  justify-content: center;
}

.form-control{
  margin-bottom: 1.2rem;
}

label{
  font-weight: bold;
  display: flex;
  margin-bottom: 0.5rem;
}
input {
  display: block;
  width: 50rem;
  padding: 0.5em 1em;
  line-height: 1.428;
  font-size: .8rem;
  border: 1px solid #ccc;
  border-radius: 0.2em;
  background-color: #fff;
  margin-bottom: 0.2rem;
}

input:focus   {
  outline: revert;
}

.btn {
  display: inline-block;
  padding: 1em 2em;
  border-radius: 0.5em;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}

.btn-primary{
  background-color: cornflowerblue;
  color: white;
}

.btn:hover{
  opacity: 0.8;
}


.w-100{
  width: 100%;
}

.error-text {
  color: red;
  margin-bottom: 0.2em;
}
